.cabeçalho {
    align-items: center;
    display: flex;
    font-size: 16px;
    height: 80px;
    width: 1216px;
    justify-content: space-between;
}

.cabeçalho__logo {
    justify-content: flex-start;
}

.cabeçalho__menu--item {
    color: #667085;
    font-family: 'Inter';
    padding: 0 16px;
    text-decoration: none;
}

.cabeçalho__login {
    align-items: center;
    display: flex;
    margin: 0 16px;
}

.cabeçalho__login--entrar {
    color:#667085;
    padding: 0 16px;
    text-decoration: none;
}

.cabeçalho__login--cadastrar {
    background-color: #8E2424;
    border-radius: 10%;
    color: #FFFFFF;
    padding: 0.8em;
    text-decoration: none;
}