.sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 96px 0px;
    text-align: center;
    width:auto;
}

.sobre__titulo {
    color: #101828;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 600;
    padding: 25px 0 30px 0;
}

.sobre__titulo-menor {
    color: #8E2424;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

.sobre__texto {
    color: #667085;
    font-family: 'Inter';
    font-size:20px;
    font-style: normal;
    font-weight: 400;
    height: 60px;
    width: 791px;
}